<div class="header_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="logo"><a href="#"><img src="images/logo.png"></a></div>
            </div>
            <div class="col-sm-9">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                       <a class="nav-item nav-link" href="../index.ejs">Inicio</a>
                       <a class="nav-item nav-link" href="../collection.ejs">Coleção</a>
                       <a class="nav-item nav-link" href="../shoes.ejs">Tenis</a>
                       <a class="nav-item nav-link" href="../contact.ejs">Contato</a>
                       <a class="nav-item nav-link last" href="#"><img src="images/search_icon.png"></a>
                       <a class="nav-item nav-link last" href="../contact.html"><img src="images/shop_icon.png"></a>
                       <a class="nav-item nav-link last" href="" style="color: white;"><img src="images/person.png" alt="" ></a>
                    </div>
                </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="banner_section">
        <div class="container-fluid">
            <section class="slide-wrapper">
<div class="container-fluid">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                
                <div class="col-sm-5">
                    <div class="banner_taital">
                        <h1 class="banner_text">Novo Tenis de corrida</h1>
                        <h1 class="mens_text"><strong>Experimente agora</strong></h1>
                        <p class="lorem_text">Apresentamos o novo tênis de corrida! Com design moderno, sola resistente e amortecimento extra, ele proporciona conforto e suporte durante toda a corrida. Experimente!</p>
                        <button class="buy_bt">Comprar</button>
                        <button class="more_bt">Veja mais</button>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="shoes_img"><img src="images/running-shoes.png"></div>
                </div>
            </div>
            </div>
            
            
</section>			
        </div>
    </div>
</div>