<div class="section_footer">
    <div class="container">
        <div class="mail_section">
            <div class="row">
                <div class="col-sm-6 col-lg-2">
                    <div><a href="#"><img src="images/footer-logo.png"></a></div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="footer-logo"><img src="images/phone-icon.png"><span class="map_text">(31)
                        123456789</span></div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-logo"><img src="images/email-icon.png"><span class="map_text">Demo@gmail.com</span></div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="social_icon">
                        <ul>
                            <li><a href="#"><img src="images/fb-icon.png"></a></li>
                            <li><a href="#"><img src="images/twitter-icon.png"></a></li>
                            <li><a href="#"><img src="images/in-icon.png"></a></li>
                            <li><a href="#"><img src="images/google-icon.png"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div> 
        <div class="footer_section_2">
            <div class="row">
               
                <div class="col-sm-4 col-lg-2">
                    <h2 class="shop_text">Endereço</h2>
                    <div class="image-icon"><img src="images/map-icon.png"><span class="pet_text">No 40 Baria Sreet 15/2 NewYork City, NY, United States.</span></div>
                </div>
                <div class="col-sm-4 col-md-6 col-lg-3">
                    <h2 class="shop_text">Nossa empresa </h2>
                    <div class="delivery_text">
                        <ul>
                            <li>Para mais</li>
                            <li>Informações</li>
                            <li>Relacionado a forma</li>
                            <li>de pagamento entre </li>
                            <li>em contato </li>
                        </ul>
                    </div>
                </div>
            <div class="col-sm-6 col-lg-3">
                <h2 class="adderess_text">Produtos</h2>
                <div class="delivery_text">
                        <ul>
                            <li>Os preços dos</li>
                            <li>produtos são</li>
                            <li>negociaveis </li>
                            <li>mediante ao frete e </li>
                            <li>ao trabalho redigido </li>
                            <li>sobre sua estilização </li>
                        </ul>
                    </div>
            </div>
            
            </div>
            </div> 
        </div>
    </div>
</div>
