<!DOCTYPE html>
<html lang="pt-br">
	<%- include ('../partials/cabecalho.ejs'); %>
   <!-- body -->
   <body class="main-layout">
	<!-- header section start -->
	<div class="container bg-dark">
        <div class="row">
            <div class="col-sm-3">
                <div class="logo"><a href="#"><img src="images/logo.png"></a></div>
            </div>
            <div class="col-sm-9">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                       <a class="nav-item nav-link" href="/">Inicio</a>
                       <a class="nav-item nav-link" href="../collection.ejs">Coleção</a>
                       <a class="nav-item nav-link" href="../shoes.ejs">Tenis</a>
                       <a class="nav-item nav-link" href="../contact.ejs">Contato</a>
                       <a class="nav-item nav-link last" href="#"><img src="images/search_icon.png"></a>
                       <a class="nav-item nav-link last" href="../contact.html"><img src="images/shop_icon.png"></a>
                       <a class="nav-item nav-link last" href="" style="color: white;"><img src="images/person.png" alt="" ></a>
                    </div>
                </div>
                </nav>
            </div>
        </div>
    </div>
	<!-- new collection section start -->
  <div class="collection_text">Finalização</div>
    <div class="layout_padding collection_section">
		<div class="layout_padding collection_section">
			<div class="container">
				<h1 class="new_text"><strong>Finalização</strong></h1>
				<div class="collection_section_2" style="background-color: bisque;">
                    <form action="/finaliza/salva" method="POST">
                        <hr>
                        <h1 class="consectetur_text">Endereço</h1>
                        <input type="text" placeholder="Rua" name="rua">
                        <input type="text" placeholder="Bairro" name="bairro">
                        <input type="number" placeholder="Numero" name="numero">
                        <input type="text"  placeholder="cmpl" name="complemento">
                        <input type="number" placeholder="CEP" name="cep">
                        <hr>
                        <h1 class="consectetur_text">Forma de pagamento</h1>
                        <input type="number" placeholder="Numero" name="numero_cartao">
                        <input type="text" placeholder="Nome" name="nome">
                        <input type="number" placeholder="CVV" name="cvv">
                        <input type="number" placeholder="Data de expiração" name="data_expiracao">
                        <hr>
                        <input type="checkbox"><h1 class="consectetur_text">PIX</h1>
                        <p class="consectetur_text">Sera enviado nesse email um QR code para conclusão do pagamento</p>
                        <input type="text" placeholder="Email" name="email"><br>
                        <button class="btn" style="background-color: crimson;">Finalizar</button>
                    </form>
				</div>
			</div>
		</div>
    </div>
    <%- include ('../partials/rodape.ejs'); %>
    </body>
	<!-- new collection section end -->
	<!-- section footer start -->

	<!-- section footer end -->
</html>